/*$fontname-icons: 'FontAwesome';*/
$fontname-icons: 'ElegantIcons';

/* FontAwesome 
$icon_calendar: '\f073';
$icon_collapse: ' ';
$icon_expand:   ' ';
$icon_cross: '\f00d';

$icon_chevron-up: "\f051";
$icon_chevron-down: "\f052";
$icon_chevron-left: '\f053';
$icon_chevron-right: '\f054';

$icon_user: "\f007";
$icon_password: "\f023";
$icon_language: "\f1ab";
*/


/* Elegant icons */
$icon_calendar: '\e023';
$icon_collapse: " ";
$icon_expand:   " ";
$icon_cross: "\4d";

$icon_chevron-up: "\32";
$icon_chevron-down: "\33";
$icon_chevron-left: "\34";
$icon_chevron-right: "\35";


$icon_user: "\e08a";
$icon_password: "\e06c";
$icon_language: "\e0e3";
	
