.ps_footer {
  border-top:none;
  background-color: $color-darkgray;
  /* outlined button */
.ps_box-button:not(.psc_disabled) .ps-button-wrapper .ps-button,
.ps_box-button.psc_primary:not(.psc_disabled) .ps-button-wrapper .ps-button {
  border-radius: 0px;
  background-color: transparent !important;
  border-color: rgb( 255, 255, 255) !important;
  border-width: 2px;
  color: rgb( 255, 255, 255) !important;
  font-size: 0.95em;
  font-weight: 700;
  font-family: $standard-font;
  text-transform: uppercase;
  &:not([disabled]):hover {
    background-color: rgb( 255, 255, 255);
    border-color: rgb( 255, 255, 255);
    color: $color-darkgray;;
  }
  &:not([disabled]):active {
    background-color: rgb( 244, 244,244);
    border-color: rgb( 244, 244, 244);
    color: $color-darkgray;;
  }
  &:not([disabled]):hover:active {
    background-color: rgb( 244, 244,244);
    border-color: rgb( 244, 244, 244);
    color: $color-darkgray;;
  }
  &:not([disabled]):focus {
    background-color: rgb( 244, 244,244);
    border-color: rgb( 244, 244, 244);
    color: $color-darkgray;;
  }
}
}